<!DOCTYPE html>
<head>
    <title>Footprints</title>
    <meta name="viewport" content="initial-scale=1.0"> 
    <script src="~/Javascript/MapViewScripts.js"></script> @*Link javascript file*@
    <link rel="stylesheet" type="text/css" href="~/CSS/MapViewStyleSheet.css"> @*Link CSS file*@
    <meta charset="utf-8">
</head>
<body>
    @*Sidebar*@
    <div id="menuToggle">
        <input id="HamburgerButtonInput" onclick="ToggleMenu()" type="checkbox" />
        <span onclick="HamburgerSpanClick()"></span>
        <span onclick="HamburgerSpanClick()"></span>
        <span onclick="HamburgerSpanClick()"></span>
        <ul id="menu">
            <li> <a href="#">Dashboard</a></li>
            <li> <a href="#">Lists</a></li>
            <li> <a href="#">Account</a></li>
            <li> <a href="#">Contact</a></li>
            <li>
                @*Theme sub-menu*@
                <button id="ThemeMenuExpander" class="collapsible">Change Theme</button>
                <div class="content">
                    <ul>
                        <li> <button onclick="MidNightTheme()" class="SubThemeMenu">Midnight</button> </li>
                        <li> <button onclick="DarkTheme()" class="SubThemeMenu">Dark</button> </li>
                        <li> <button onclick="LightTheme()" class="SubThemeMenu">Light</button></li>
                        <li> <button onclick="DefaultTheme()" class="SubThemeMenu">Default</button> </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    @*Search Bar*@
    <input id="SearchBar" autocomplete="on" type="text" name="search" placeholder="Find a location">

    @*Map*@
    <div id="map"></div>
    @*Source to load map*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDQe2Nov8eYcEOSJpHSxo5CIyC9BvMTgk&libraries=places&callback=initMap"
            async defer></script>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>

