@using Final_Project.Models
@using Final_Project.BusinessObjects
@model List<UserListModel>

<head>
    <title>Lists</title>
    <link href="~/Styles/UserListStyle.css" rel="stylesheet" />

</head>

<!-- Nav drawer-->
<div id="content" class="container grid">
    <div id="ActionBar">
        <div class="row">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
    <!-- Page Content -->
    <div class="row" id="ListContent">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Lists
                    <button id="AddListBtn" type="button" onclick="AddList()" class="btn btn-default"><i class="fas fa-plus"></i></button>
                </div>
                <div id="ListOfLists" class="card-body">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <div>
                            <a onclick="ListClicked([@(Model[i].ID)], '@(Model[i].Name)')" href="#">@Model[i].Name</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div id="ItemHeader" class="card-header">
                    List Items
                    <button id="AddListItemBtn" onclick="AddListItem()" type="button" class="btn btn-default"><i class="fas fa-plus"></i></button>
                </div>
                <div id="ItemBody" class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ListScript.js"></script>
<script src="~/Scripts/MapPageScript.js"></script>

