#ActionBar {
    width: 60%;
}

#CountriesVisitedChart{
    text-align: center;
}
#bar{
    display:inline-block;
}

#TripsOverTime{
    text-align: center;
}
#CategoriesChart {
    text-align: center;
}

.wrapperForCentering {
    display: inline-block;
}

#DashboardStats {
    height: 35%;
}
