:root {
    --LightColor: #404040;
    --HighlightColor: #FFFFFF;
    --GreyColor: #666666;
    --BackgroundColor: #a1c99c;
    --BackgroundColorButSlightlyDarker: #b9d7b5;
}


input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

#ActionBar {
    margin-left: 10px;
}

#ActionBarMap {
    position: absolute;
    margin-top: 5px;
    width: 60%;
    margin-left: 10px;
    z-index: 1;
}

#ContactContent {
    margin: 10px;
}

#ListContent {
    margin: 10px;
}

#map {
    position: relative;
    margin-left: 0px;
    height: 100%;
    width: 100%;
}

#SearchBar {
    /*border: none;*/
    border-radius: 15px;
    font-family: Arial, FontAwesome;
    outline-width: 0px;
    border-width: .5px;
    border-color: lightgray;
}

#AddLocationBTN {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    outline-width: 0px;
    margin-top: 10px;
    margin-left: 5px;
    /*color: white;*/
    color: var(--LightColor);
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    /*border-style: solid;*/
    /*border-color: #cccccc;
    border-width: .3px;
    border-right: solid;*/
    min-width: 250px;
    max-width: 250px;
    background: var(--BackgroundColor);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

    #sidebar.active {
        margin-left: -250px;
        transform: rotateY(100deg);
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: var(--BackgroundColorButSlightlyDarker);
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid var(--HighlightColor); /*changed here*/
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        cursor: pointer;
    }

        #sidebar ul li a:hover {
            color: var(--BackgroundColor);
            background: var(--HighlightColor); /*here*/
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: var(--HighlightColor); /*and here*/
        background: var(--BackgroundColorButSlightlyDarker);
    }


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--BackgroundColorButSlightlyDarker);
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: var(--BackgroundColor);
}

a.article, a.article:hover {
    background: var(--BackgroundColor) !important;
    color: var(--LightColor) !important;
}



/* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background-color: transparent;
    /*background: #f5f5f5;*/
    cursor: pointer;
}

    #sidebarCollapse span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: var(--LightColor);
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        transition-delay: 0.2s;
        color: white !important; /*Why no work*/
    }

        #sidebarCollapse span:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }

        #sidebarCollapse span:nth-of-type(2) {
            opacity: 0;
        }

        #sidebarCollapse span:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }


    #sidebarCollapse.active span {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

/*#ThemesSubMenu a{
    background-color: var(--BackgroundColor);
}*/
