#loginfields {
    margin: 10px;
}

#loginbutton {
    float: right;
}

#register {
    margin-top: 50px;
    text-align:center;
}

#register p {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 14px;
    font-style: italic;
}

    #register a {
        text-align: center;
        color: black;
        margin: auto;
        padding: 10px;
        font-size: 14px;
        font-style: italic;
    }

#SignupBTN {
    float: right;
}

#slideshow {
    text-align: center;
    background-color: grey;
    padding: 10px;
}

#RegisterFields {
    margin: 10px;
}