/*******************************************************************
******************************** Map *******************************
********************************************************************/
/*height match thead window*/
#map {
    position: fixed;
    height: 100%;
}
/*Makes the page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*******************************************************************
***************** Side menu and hamburger **************************
********************************************************************/
/*Hamburger stuff*/
a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

    a:hover {
        color: tomato;
    }

/*Trying tot edit google controls opacity*/
/*.gm-fullscreen-control{
    opacity: .4;
}*/

/*.gmnoprint.gm-bundled-control div.gmnoprint{
    opacity: .3;
}*/

#menuToggle {
    display: block;
    position: absolute;
    width: 90%;
    top: 10px;
    left: 10px;
    -webkit-user-select: none;
    user-select: none;
}

    #menuToggle input {
        text-align: "center";
        display: block;
        width: 40px;
        height: 30px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

input[name=search] {
    display: block;
    position: absolute;
    z-index: 2;
    width: 25px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background: transparent url("../../Images/searchIcon.png");
    background-position: 10px 10px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    margin-left: 45px;
    margin-top: -5px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    input[name=search]:focus {
        width: 40%;
    }

    /*hamburger itself */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #000000;
        border-radius: 3px;
        z-index: 2;
        cursor: pointer;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    }

        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }

        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

    /* Transform all the slices of hamburger into a crossmark.*/
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

        #menuToggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        #menuToggle input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

#menu {
    position: relative;
    width: 15%;
    /*height: 100%;*/
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

    #menu li {
        padding: 10px 0;
        font-size: 18px;
        font-family: 'Century Gothic';
    }

#menuToggle input:checked ~ ul {
    transform: none;
}

/******************************************************
******************** Themes menu **********************
*******************************************************/
.collapsible {
    text-decoration: none;
    background: #ededed;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    font-size: 18px;
    color: #232323;
    margin-left: -5px;
    font-family: 'Century Gothic';
}

    .collapsible:hover {
        color: tomato;
    }

.content {
    display: none;
    overflow: hidden;
    background-color: #ededed;
    font-size: 18px;
}

.SubThemeMenu {
    text-decoration: none;
    background: #ededed;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    font-size: 16px;
    font-family: 'Century Gothic';
    margin: 0px;
}

.content ul {
    list-style-type: none;
    padding: 8px;
}

.content button:hover {
    color: tomato;
}