@model int
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleMan

<head>
    <title>Account</title>
    <link href="~/Styles/AccountStyle.css" rel="stylesheet" />
</head>

<div id="content" class="container grid">
    <div id="ActionBar">
        <div class="row">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
    <div class="row" id="ContactContent">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1>Account</h1>
                </div>
                <div class="card-body">
                    <div>
                        <label class="control-label">Username: @UserManager.GetUserName(User)</label>
                    </div>
                    <div>
                        <label class="control-label" for="UserName">Number of locations: @Model</label>
                    </div>
                    <partial name="_loginpartial" />
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

<script src="~/Scripts/MapPageScript.js"></script>
