@using Final_Project.Models
@model List<ContactModel>


<head>
    <title>Contact</title>
    <link href="~/Styles/AdminPageStyles.css" rel="stylesheet" />
</head>
<div id="content" class="container grid">
    <div id="ActionBar">
        <div class="row">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>

    @*Page Content*@
    <div class="row container">
        <h1>User Messages</h1>
        <table id="MesssagesTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                   @foreach(var message in Model)
                   {
                       <tr>
                           <td>@message.UserName</td>
                           <td>@message.Type</td>
                           <td>@message.Message</td>
                       </tr>
                   }
            </tbody>
        </table>
    </div>
</div>
